@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar{
  width: 1px;
  background-color: black;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: orange;
  border-radius: 25px;
}

.project-list::-webkit-scrollbar{
  width: 0px;
  background-color: transparent;
}

.project-list::-webkit-scrollbar-thumb{
  border-radius: 5px;
  height: 1px;
  width: 4px;
}

